---
// src/components/Giscus.astro
---
<div class="giscus-container">
    is:inline
    <script 
        is:line
        src="https://giscus.app/client.js"
        data-repo="kinesis19/kinesis19.github.io"
        data-repo-id="R_kgDOPMN3mw"
        data-category="General"
        data-category-id="DIC_kwDOPMN3m84CtQ1D"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="ko"
        crossorigin="anonymous"
        async
    >
    </script>
</div>